html{
    height: 100%
}

body {
    background-color: rgb(153, 208, 237);
    color: #fff;
    margin: 0;
    height: 100%;
}

.question-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(153, 208, 237);
  }
  
  .question {
    background-color: rgb(84, 152, 189);
    width: 800px;
    height: 80%;
    border-radius: 25px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
  }

  .add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  /* stop the glowing blue shadow */
  .add-on .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#cccccc; 
  }
  .form-control{width:20%}